.Home {
    background-color: #000;
    position: relative;
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: -1;
}

.homeAbout {
    position: relative;
    width: 100%;
    height: 116vh;
    background: url(../../static/3d-view-planet-earth.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.title {
    position: absolute;
    top: 5%;
    left: 30%;
    width: 20%;
    height: 60%;
    background: linear-gradient(to top left, #000000, #000000d8 60%, #00000000 99%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleName {
    width: 70%;
    height:40%;
    color: #fff;
    font-size: 3.5em;
}
.titleEdu {
    width: 70%;
    height:10%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleEdu1 {
    width: 30%;
    height:100%;
    font-size: 1em;
    display: flex;
    align-items: center;
}
.titleEdu2 {
    width: 70%;
    height:100%;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleExp1 {
    width: 50%;
    height:100%;
    font-size: 1em;
    display: flex;
    align-items: center;
}
.titleExp2 {
    width: 50%;
    height:100%;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desctitle {
    position: absolute;
    top: 20%;
    left: 45%;
    width: 25%;
    height: 60%;
    background: linear-gradient(to top left, #00000000 5%, #000000c3, #000000 70%);
}
.titleIntro {
    position: absolute;
    width: 65%;
    height: 65%;
    color: #fff;
    top: 30%;
    right: 7%;
    font-size: 1em;
    line-height: 1.5em;
}

.bcktitle {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 20%;
    height: 40%;
    background: linear-gradient(to right, #000000, #000000ca, #00000000);
}
.bckmask {
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
    background: linear-gradient(to top, #000000, transparent);
}

.homegap {
    position: relative;
    width: 100%;
    height: 10vh;
}

.homeprojects {
    position: relative;
    width: 100%;
    height: 100vh;
}

.homeskills {
    position: relative;
    width: 100%;
    height: 100vh;
}


.homecontact {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}
.contactForm {
    position: absolute;
    width: 25%;
    height: 70%;
    top: 15%;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
.contactLinks {
    position: absolute;
    width: 25%;
    height: 70%;
    top: 15%;
    right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}