.expSection {
    width: 100%;
    height: 100%;
    background: black;
}

.expTimelinebox {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.expCurrentbox {
    position: absolute;
    top: 32.5%;
    right: 0;
    width: 35%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expPastbox1 {
    position: absolute;
    top: 37.5%;
    right: 40%;
    width: 25%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expPastbox2 {
    position: absolute;
    top: 37.5%;
    right: 70%;
    width: 25%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.expLogos {
    width: 100%;
    height: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.expLogos img {
    width: 50%;
    border-radius: 50%;
    z-index: 1;
}
.expLogos img:hover {
    cursor: pointer;
    border: 2px solid #0bda95;
}

.expDates {
    width: 100%;
    height: 15%;
    color: #fff;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.expPast {
    font-size: 1em;

}

.expDescbox {
    position: relative;
    float: right;
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.expDescboxin {
    width: 80%;
    height: 80%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2em;
}

.expActive {
    position: absolute;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background: #0bda95;
    filter: blur(3em);
}

.expLine {
    position: absolute;
    background: rgb(15, 15, 15);
    width: 80%;
    height: 0.5%;
    top: 47%;
}