.contactHomePage {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.contactBack1 {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 30%;
    height: 50%;
}

.contactHead1 {
    position: absolute;
    left: 10%;
    top: 0%;
    width: 30%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.1em;
    background: linear-gradient(to right, #050505, #01160f, #050505);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contactHead2 {
    position: absolute;
    right: 9%;
    top: 40%;
    width: 10%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    font-size: 5.1em;
    color: #09090991;
    writing-mode: vertical-rl;
    background: linear-gradient(to top, #050505, #01160f, #050505);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contactBox1 {
    background: #000000;
    position: absolute;
    left: 20%;
    top: 35%;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactBox2 {
    background: #000000;
    position: absolute;
    right: 20%;
    top: 35%;
    width: 25%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactItem {
    width: 100%;
    height: 50%;
    display: flex;
    text-decoration: none;
}
.contactImg {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactImg::after {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: transparent;
    filter: blur(0.7em);
    transition-duration: 0.5s;
}
.contactImg img {
    width: 60%;
}
.contactText {
    width: 80%;
    height: 100%;
    padding-left: 5%;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.contactItem:hover .contactText {
    text-decoration: underline;
    text-underline-offset: 0.3em;
}
.contactItem:hover .contactImg::after {
    background: #fff;
}
.mLabel p {
    color: #ea4335;
}
.lnLabel p {
    color: #0a66c2;
}

.ghLabel p {
    color: #7040c9;
}
.iLabel p {
    color: #ce3d8c;
}

.contactBack {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 65%;
    left: 0;
    background: url(../../static/home_end.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    transform: rotateZ(-20deg);
}


@media only screen and (max-width: 560px) {
    .contactHead1 {
        width: 80%;
        height: 25%;
        left: 5%;
        font-size: 3em;
    }
    .contactBox1 {
        height: 15%;
        left: 10%;
        top: 25%;
        width: 60%;
        font-size: 0.8em;
    }
    .contactBox2 {
        height: 15%;
        left: 10%;
        width: 60%;
        top: 45%;
        font-size: 0.8em;
    }
    .contactHead2 {
        font-size: 3.5em;
        width: 15%;
        top: 45%;
    }
    .contactBack {
        width: 100%;
        top: 75%;
        left: 0%;
        transform: rotateZ(-30deg);
}
  }
